{% extends "Detail/base.html" %}

{% block content %}
<div class = "col">

	{% for movie in obj %}
	<div class = "row" style= "margin-left:10px;">
	<h2> <a href = "{% url 'movie-detail' mv_id=movie.id %}">{{movie.Name}} </a></h2>
	{% if movie.poster %}
	<img src="{{ movie.poster.url }}" width="180" height="220" align = 'right'/>
	{% endif %}
	<p> {{ movie.Year_of_Release }} </p>
	<p> <b>Actor: </b><a href="{% url 'actor-detail' my_id=movie.actor.id %}"> {{ movie.actor.name }} </a></p>
	<p> <b> Produced by:</b> <a href="{% url 'producer-detail' my_id=movie.producer.id %}" > {{ movie.producer.name }} </a> </p>
	
	<p> {{movie.Plot}}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}